* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 44px 0px 0px 76px;
}

.link {
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    width: 90px;
    height: 29px;
    color: #989D9C;
    margin-right: 23px;
    cursor: pointer;
}

img {
    width: 568px;
    height: 500px;
    display: inline-block;
    margin-top: 150px;
    margin-left: 125px;

}

.text {
    display: inline-block;
    margin-left: 76px;
}

h1 {
    font-weight: 900;
    font-size: 100px;
    line-height: 100%;
    letter-spacing: 0%;
    width: 513px;
    height: 122px;
    color: #515151;

}

p {
    width: 515px;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #848484;
    margin-top: 32px;
    margin-bottom: 65px;


}

.botao1 {
    background: rgb(88, 28, 88);
    border-radius: 51px;
    border: none;
    cursor: pointer;
    width: 130px;
    height: 41px;
    outline: none;
    color: white;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;

}

.botao1:hover {
    opacity: .4;
}

.botao1:active {
    opacity: .6;
}

.botao2 {
    background: rgb(96, 235, 96);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 239px;
    height: 64px;
    color: black;
    font-weight: 700;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0%
}

.botao2:hover {
    opacity: .6;
}